.navbar.navbar-light .breadcrumb .nav-item .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #06c432;
}

.navbar.navbar-light .breadcrumb .nav-item.active>.nav-link,
.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
    color: white;
    background-color: #06c432;
    border-radius: 4px;
}

.navbar.navbar-light .breadcrumb .nav-item.active>.nav-link,
.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link:hover {
    color: white;
}

.navbar .nav-item .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: medium;
}

.btn {
    background-color: #06c432;
    color: white;
}

.btn:hover {
    color: white;
}

.navbar-brand {
    padding-left: 2rem;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: white !important;
    background-color: #06c432;
}

.navbar-modal-header {
    color: white;
    background-color: #06c432;
}

.navbar-navlink-style {
    color: white !important;
    background-color: #06c432;
    border-radius: 4px;
}