.background {
    background-image: url("../../../assets/images/wallpaper.png");
    background-size: cover;
    background-position: center center;
    min-height: 80vh;
}

.text-top-spacing {
    margin-top: 17rem;
}

.card-top-spacing {
    margin-top: 13rem;
}

.button-color {
    background-color: #0d5d20;
    width: 170px;
}

.google-button-color {
    background-color: #4285f4;
}

.form-control:focus {
    border-color: #0d5d20;
    box-shadow: 0 0 0 0.2rem #00c851;
}

.custom-select:focus {
    border-color: #0d5d20;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #00c851;
}

.top {
    margin-top: 5rem;
}

.font-style {
    font-weight: 650;
}

.carpool-headings {
    color: #06c432;
}